@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inconsolata:wght@200..900&family=Playwrite+CZ:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;
  --font-edu: "Edu NSW ACT Cursive", cursive;
  --font-playwrite: "Playwrite CZ", sans-serif;
}
@layer base {
  body {
    font-family: var(--font-poppins);
  }
}

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(38, 38, 38);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(38, 38, 38);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(38, 38, 38);
  --primary: rgb(236, 109, 0);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(220, 225, 230);
  --secondary-foreground: rgb(67, 82, 93);
  --muted: rgb(224, 232, 236);
  --muted-foreground: rgb(97, 108, 119);
  --accent: rgb(255, 233, 196);
  --accent-foreground: rgb(145, 33, 3);
  --destructive: rgb(253, 29, 66);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(207, 213, 220);
  --input: rgb(207, 213, 220);
  --ring: rgb(236, 109, 0);
  --chart-1: rgb(236, 109, 0);
  --chart-2: rgb(205, 76, 0);
  --chart-3: rgb(174, 46, 0);
  --chart-4: rgb(145, 33, 3);
  --chart-5: rgb(119, 28, 6);
  --sidebar: rgb(224, 232, 236);
  --sidebar-foreground: rgb(38, 38, 38);
  --sidebar-primary: rgb(236, 109, 0);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(255, 233, 196);
  --sidebar-accent-foreground: rgb(145, 33, 3);
  --sidebar-border: rgb(207, 213, 220);
  --sidebar-ring: rgb(236, 109, 0);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geist, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 2px 4px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 4px 6px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 8px 10px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(23, 23, 23);
  --foreground: rgb(229, 229, 229);
  --card: rgb(38, 38, 38);
  --card-foreground: rgb(229, 229, 229);
  --popover: rgb(38, 38, 38);
  --popover-foreground: rgb(229, 229, 229);
  --primary: rgb(236, 109, 0);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(38, 38, 38);
  --secondary-foreground: rgb(229, 229, 229);
  --muted: rgb(31, 31, 31);
  --muted-foreground: rgb(163, 163, 163);
  --accent: rgb(145, 33, 3);
  --accent-foreground: rgb(255, 200, 105);
  --destructive: rgb(253, 29, 66);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(64, 64, 64);
  --input: rgb(64, 64, 64);
  --ring: rgb(236, 109, 0);
  --chart-1: rgb(255, 145, 9);
  --chart-2: rgb(205, 76, 0);
  --chart-3: rgb(145, 33, 3);
  --chart-4: rgb(174, 46, 0);
  --chart-5: rgb(145, 33, 3);
  --sidebar: rgb(15, 15, 15);
  --sidebar-foreground: rgb(229, 229, 229);
  --sidebar-primary: rgb(236, 109, 0);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(145, 33, 3);
  --sidebar-accent-foreground: rgb(255, 200, 105);
  --sidebar-border: rgb(64, 64, 64);
  --sidebar-ring: rgb(236, 109, 0);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geist, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 2px 4px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 4px 6px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 8px 10px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--border));
  border-radius: 0px; /* This creates the sharp corners */
  border: none; /* Ensures it fills the width completely */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground) / 0.6);
}

/* Optional: Active state (clicking the bar) */
*::-webkit-scrollbar-thumb:active {
  background-color: hsl(var(--muted-foreground));
}
